
<html>
<head>
    <h1>
        Show Connect
    </h1>
    <div class="nav bar">
        <button class = "Home"  onclick="document.location='/home'"> Home</button>
        <button class = "Profile"  onclick="document.location='/profile'"> Profile</button>
        <button class = "Search"  onclick="document.location='/search'"> Search</button>

    </div>
</head>
<body>
    <div class="posts">
        <p id="postheader"></p>
        <p id="postcontent"></p>
        <script>
            let post = "";
            for (let i = 0; i < profile.length; i++) {
                profilename = profile[i];
                post = showmoviename[i] +"<br>"+comments[i];
            }
            document.getElementById("postheader").innerHTML = profilename;
            document.getElementById("postcontent").innerHTML = post;
               
        </script>

       
    </div>

</body>
</html>
