<html>
    <head >
      <h1 style = "text-align: center;"> Show Connect </h1> 
      <h2 style = "text-align: center;"> Login </h2>
     
    </head>
    <body>
        <p>
            <form form action="{{ url_for('login')}}" method="post", style = "text-align: center;">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="Password">Password:</label><br>
                <input type="password" id="Password" name="Password"><br>
                <input type="submit" value="Submit">
            </form>
              
        </p><br>
        
        <p style = "text-align: center;">
            Don't have an account yet?<br>
            <button class = "Create Account"  onclick="document.location='/register'"> Create Account
            </button>
        </p>

    </body>
